<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.employee_app">
    <!-- Permission para makagamit og internet ang app -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Employee_App"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PayslipActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceActivity"
            android:exported="false" /> <!-- 1. LOGIN ACTIVITY: Mao ni ang dapat naay Intent Filter -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 2. MAIN ACTIVITY: Tangtangon ang filter para dili na siya ang unahon -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ViewActivity"
            android:exported="false" />
        <activity
            android:name=".InsertActivity"
            android:exported="false" />
        <activity android:name=".ProfileActivity" />
    </application>

</manifest>